@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
* {
box-sizing: border-box;
padding: 0;
margin: 0;
font-family: "Open Sans", sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

body {
    /* background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/5298bac0-b8bf-4c80-af67-725c1272dbb0/dbse65i-93e9ce8a-2c76-43f3-ad5a-dffc39877ea5.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzUyOThiYWMwLWI4YmYtNGM4MC1hZjY3LTcyNWMxMjcyZGJiMFwvZGJzZTY1aS05M2U5Y2U4YS0yYzc2LTQzZjMtYWQ1YS1kZmZjMzk4NzdlYTUuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.ecWdcOwuv6opCTZkZRlHfH3O3rzGCWgyDn_iU8EGjQM'); */

}

li {
    list-style-type: none;
}

h1 {
    letter-spacing: .1em;
    max-width: 1000px;
    font-weight: 500;
    font-size: 20px;
    color: #fff;   
}

h2 {
    margin-bottom: 40px;
    text-align: center;
    letter-spacing: .1em;
    font-size: 45px;
    max-width: 1000px;
    font-weight: 500;
    color: #fff;
}   


h3 {
    margin-bottom: 40px;
    text-align: center;
    font-size: 30px;
    max-width: 1000px;
    font-weight: 700;
}


input {
    color: rgba(0, 0, 0, .87);
    width: 100%;
    max-width: 800px;
    height: 60px;
    font-size: 20px;
    padding-left: 20px;
}

.fa-magnifying-glass {
overflow: visible;
width: 1em;
display: inline-block;
font-size: inherit;
height: 1em;
vertical-align: -0.125em;
}

.fa-chevron-left {
  color: #6030b1;
  font-size: 20px;
}

.fa-chevron-right {
  color: #6030b1;
  font-size: 20px;
} 

.fa-chevron-left:hover {
    color: #ff328f;
}

.fa-chevron-right:hover {
    color: #ff328f;
}

.fa-arrow-left {
    color: #242424;
    font-size: 20px;
}

.page__list {
    margin-left: 8px;
}

/* NAVIGATION */

.nav__links {
display: flex;
justify-content: space-between;
margin: 20px 20px;
width: 100%;
max-width: 430px;
}

.nav__row {

    /* display: flex;
justify-content: space-between;
align-items: center; */
/* height: 200px; */
    padding: 20px 15px;
    /* background-color: grey; */
    position: relative;
    z-index: 10;
}

.nav__row:after {
  background-color: rgba(29, 26, 39, 0.83);
      content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
}

.overlay {
    background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/5298bac0-b8bf-4c80-af67-725c1272dbb0/dbse65i-93e9ce8a-2c76-43f3-ad5a-dffc39877ea5.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzUyOThiYWMwLWI4YmYtNGM4MC1hZjY3LTcyNWMxMjcyZGJiMFwvZGJzZTY1aS05M2U5Y2U4YS0yYzc2LTQzZjMtYWQ1YS1kZmZjMzk4NzdlYTUuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.ecWdcOwuv6opCTZkZRlHfH3O3rzGCWgyDn_iU8EGjQM');
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    /* position: absolute; */
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.overlay:after {
  /* background-color: rgba(29, 26, 39, 0.83);
      content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none; */
}

.nav__link {
margin-left: 30px;
position: relative;
}


.nav__logo {
    display: flex;
    align-items: center;
}

.logo {
    margin: 0 20px;
    width: 100%;
max-width: 100px;
}


.input-wrap {
    width: 100%;
    max-width: 600px;
    position: relative;
    border-radius: 50px;
    overflow: hidden;
}

.search-wrapper {
    position: absolute;
    cursor: pointer;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 10000;
    padding: 6px 20px 0 8px;
    color: #6030b1;
    font-size: 32px;
    transition: all .2s ease;
}

.search-wrapper:hover {
    color: #ff328f;
}

.nav-bar {
display: flex;
justify-content: space-between;
align-items: center;
z-index: 1005;
position: relative;
}


 .nav__link:after {
    transition: all .25s cubic-bezier(.694,.048,.335,1);
    content: "";
    position: absolute;
    bottom: -3px;
    right: 0;
    left: auto;
    width: 0;
    height: 3px;
    z-index: 2;
}

 .nav__link:hover:after {
    width: 100%;
    left: 0;
  background-color: #fff;
}



.content-wrapper {
    width: 100%;
    max-width: 1200px;
    margin-top: 20px;
    margin: 0 auto;
    /* padding-left: 100px; */
    display: flex;
 flex-direction: column;
align-items: center;
position: relative;
z-index: 2;
}


/* 

LANDING

 */

.btn__menu {
 background-color: transparent;
 font-size: 40px;
 text-align: center;
 border: none;
 color: #fff;
 /* position: relative; */
 display: none;
 z-index: 2;
}

.menu__backdrop {
position: absolute;
background-color: #242424;
top: 0;
left: 0;
right: 0;
bottom: 0;
z-index: 100;
display: flex;
justify-content: center;
align-items: center;
/* display: none; */
transition: all 300ms ease;
visibility: hidden;
opacity: 0;
}

.menu--open .menu__backdrop {
visibility: visible;
opacity: 1;
}


.btn__menu--close {
    position: absolute;
    right: 20px;
    top: 10px;
    padding: 8px;
    color: white;
}

.menu__links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__link {
font-size: 30px;
}

.menu__list {
    padding: 20px 0;
}



/* CONTENT */


.pages {
  text-align: center;
}

.button__container {
    display: flex;
    gap: 10px;
    padding: 10px 20px; /* Padding for buttons */
    color: white; /* White text */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
}

.black-txt {
    color: #0a1f44;
}

.progress-bar {
    border: 3px solid purple;
    bottom: 0;
    left: 0;
    /* position: fixed; */
    z-index: 2;
    /* width: 100%;
    height: 100%;
    position: absolute;
    will-change: transform; */
}

.main-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#search {
    padding: 40px 20px;
   /* position: relative; */
}

.movie__img {
    max-height: 900px;
}

.movie {
   /* width: calc(100% / 3); */
   padding: 16px;
   display: flex;
   flex-direction: column;
}

.movies {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 30px 90px;
    display: flex;
    flex-wrap: wrap;
}

.movie__title {
    margin-top: 20px;
}

.movies__loading {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
    font-size: 60px;
    color: #7342d6;
}

.movies__loading--spinner {
    display: none !important;
}

.movies__loading .movies__loading--spinner {
    display: block !important;
}

.fa-spinner {
    animation: rotate 600ms infinite linear;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 550px) {
 .nav__links {
display: none;
}

.nav__row {
 display: flex;
 flex-direction: column;
}

.content-wrapper {
 width: 100%;
 max-width: 400px;
}
.menu__links{
padding: 24px 0;
}

.btn__menu {
  display: block;
  cursor: pointer;
}

h2 {
    font-size: 40px;
    margin-bottom: 16px;
}

.logo {
    width: 100%;
    max-width: 80px;
}

.menu__backdrop {
height: 280px;
}

.movies {
    display: flex;
    flex-direction: column;
    margin: 0 50px;
}

}
/* 1:07:45 */

@media (max-width: 768px) {
  .nav__links {
display: none;
}

.nav__row {
 display: flex;
 flex-direction: column;
}

.content-wrapper {
 width: 100%;
 max-width: 400px;
}

.menu__links{
padding: 24px 0;
}

.btn__menu {
cursor: pointer;
  display: block;
}

h2 {
    font-size: 40px;
    margin-bottom: 16px;
}

.logo {
    width: 100%;
    max-width: 80px;
}

.menu__backdrop {
height: 280px;
}

.movies {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 90px;
}
}






