@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
* {
box-sizing: border-box;
padding: 0;
margin: 0;
font-family: "Open Sans", sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
}

label {
  margin-bottom: 5px;
}

textarea {
  height: 150px; /* Set a specific height for the textarea */
}

input, textarea {
  width: 100%; /* Full width inputs */
  padding: 10px; /* Padding inside inputs */
  border: 1px solid #9b59b6; /* Purple border */
  border-radius: 4px; /* Rounded corners */
}

input:focus, textarea:focus {
  border-color: #9b59b6; /* Change border color on focus */
  outline: none; /* Remove default outline */
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

button {
    cursor: pointer;
}

li {
    list-style-type: none;
}

h4 {
  /* letter-spacing: .1em; */
    max-width: 1000px;
    /* font-weight: 500; */
    font-size: 20px;
    /* color: #fff;    */
}

h1 {
    letter-spacing: .1em;
    max-width: 1000px;
    font-weight: 500;
    font-size: 20px;
    color: #fff;   
}

h2 {
    font-size: 30px;
    /* font-weight: 500; */
    color: #242424;
}   



h3 {
    margin-bottom: 40px;
    text-align: center;
    font-size: 30px;
    max-width: 1000px;
    font-weight: 700;
}

h5 {
margin-top: 20px;
color: #242424;
}

input {
    color: rgba(0, 0, 0, .87);
    width: 100%;
    max-width: 800px;
    height: 60px;
    font-size: 20px;
    padding-left: 20px;
}

.fa-magnifying-glass {
overflow: visible;
width: 1em;
display: inline-block;
font-size: inherit;
height: 1em;
vertical-align: -0.125em;
}

.fa-chevron-left {
  color: #6030b1;
  font-size: 20px;
}

.fa-chevron-right {
  color: #6030b1;
  font-size: 20px;
} 

.fa-chevron-left:hover {
    color: #ff328f;
}

.fa-chevron-right:hover {
    color: #ff328f;
}

.fa-arrow-left {
    color: #242424;
    font-size: 20px;
}

.page__list {
    margin-left: 8px;
}

/* NAVIGATION */

.nav__links {
display: flex;
justify-content: space-between;
margin: 20px 20px;
width: 100%;
max-width: 430px;
}

.nav__movie {
    margin-bottom: 40px;
    text-align: center;
    letter-spacing: .1em;
    font-size: 45px;
    max-width: 1000px;
    font-weight: 500;
    color: #fff;
}



.nav__row {

    /* display: flex;
justify-content: space-between;
align-items: center; */
/* height: 200px; */
    padding: 20px 15px;
    /* background-color: grey; */
    position: relative;
    z-index: 10;
}

.nav__row:after {
  background-color: rgba(29, 26, 39, 0.83);
      content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
}

.overlay {
    background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/5298bac0-b8bf-4c80-af67-725c1272dbb0/dbse65i-93e9ce8a-2c76-43f3-ad5a-dffc39877ea5.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzUyOThiYWMwLWI4YmYtNGM4MC1hZjY3LTcyNWMxMjcyZGJiMFwvZGJzZTY1aS05M2U5Y2U4YS0yYzc2LTQzZjMtYWQ1YS1kZmZjMzk4NzdlYTUuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.ecWdcOwuv6opCTZkZRlHfH3O3rzGCWgyDn_iU8EGjQM');
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    /* position: absolute; */
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.overlay:after {
  /* background-color: rgba(29, 26, 39, 0.83);
      content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none; */
}

.nav__link {
margin-left: 30px;
position: relative;
}


.nav__logo {
    display: flex;
    align-items: center;
}

.logo {
    margin: 0 20px;
    width: 100%;
max-width: 100px;
}


.input-wrap {
    width: 100%;
    max-width: 600px;
    position: relative;
    border-radius: 50px;
    overflow: hidden;
}

.search-wrapper {
    position: absolute;
    cursor: pointer;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 10000;
    padding: 6px 20px 0 8px;
    color: #6030b1;
    font-size: 32px;
    transition: all .2s ease;
}

.search-wrapper:hover {
    color: #ff328f;
}

.nav-bar {
display: flex;
justify-content: space-between;
align-items: center;
z-index: 1005;
position: relative;
}


 .nav__link:after {
    transition: all .25s cubic-bezier(.694,.048,.335,1);
    content: "";
    position: absolute;
    bottom: -3px;
    right: 0;
    left: auto;
    width: 0;
    height: 3px;
    z-index: 2;
}

 .nav__link:hover:after {
    width: 100%;
    left: 0;
  background-color: #fff;
}



.content-wrapper {
    width: 100%;
    max-width: 1200px;
    margin-top: 20px;
    margin: 0 auto;
    /* padding-left: 100px; */
    display: flex;
 flex-direction: column;
align-items: center;
position: relative;
z-index: 2;
}


/* 

LANDING

 */

.btn__menu {
 background-color: transparent;
 font-size: 40px;
 text-align: center;
 border: none;
 color: #fff;
 /* position: relative; */
 display: none;
 z-index: 2;
}

.menu__backdrop {
position: absolute;
background-color: #242424;
top: 0;
left: 0;
right: 0;
bottom: 0;
z-index: 100;
display: flex;
justify-content: center;
align-items: center;
/* display: none; */
transition: all 300ms ease;
visibility: hidden;
opacity: 0;
}

.menu--open .menu__backdrop {
visibility: visible;
opacity: 1;
}


.btn__menu--close {
    position: absolute;
    right: 20px;
    top: 10px;
    padding: 8px;
    color: white;
}

.menu__links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__link {
font-size: 30px;
}

.menu__list {
    padding: 20px 0;
}


/* HOME */

.header__row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.header__title {
    /* color: #242424; */
    font-weight: 500;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

.header__img {
width: 100%;
height: auto;
object-fit: cover;
}

.header__content {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 50px;
}


.header__img--container {
/* height: 100vh; */
overflow: hidden;
}

.header__title, 







/* CONTENT */


.pages {
  text-align: center;
}

.button__container {
    display: flex;
    gap: 10px;
    padding: 10px 20px; /* Padding for buttons */
    color: white; /* White text */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
}

.black-txt {
    color: #0a1f44;
}

.progress-bar {
    border: 3px solid purple;
    bottom: 0;
    left: 0;
    /* position: fixed; */
    z-index: 2;
    /* width: 100%;
    height: 100%;
    position: absolute;
    will-change: transform; */
}

.main-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#search {
    padding: 40px 20px;
   /* position: relative; */
}

.movie__img {
    max-height: 900px;
}

.movie {
   width: calc(100% / 3);
   padding: 8px;
   /* flex: 1 1 calc(25% - 16px);  */
   /* box-sizing: border-box; */
   display: flex;
   /* flex-direction: column; */
}

.movies {
    /* width: 100%;
    max-width: 1300px;
    margin: 0 auto; */
    padding: 30px 90px;
    display: flex;
    flex-wrap: wrap;
    /* gap: 16px; */
}

.movie__title {
    margin-top: 20px;
    color: #242424;
}

.movie__title:hover {
    text-decoration: underline;
}

.movies__loading {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
    font-size: 60px;
    color: #7342d6;
}

.movies__loading--spinner {
    display: none !important;
}

.movies__loading .movies__loading--spinner {
    display: block !important;
}

.fa-spinner {
    animation: rotate 600ms infinite linear;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* MOVIE INFO */

.movie__selected--title--top {
    margin-left: 10px;
    margin-bottom: 0;
}

.movie__selected--title--top:hover {
    text-decoration: underline;
}

.movie__selected--top {
    display: flex;
    align-items: center;
    margin: 16px;
}

.fa-arrow-left {
  font-size: 30px;
}

.movie__selected--figure {
    width: 40%;
  padding: 16px 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie__selected--title {
    margin-bottom: 8px;
}

.movie__selected {
    display: flex;
}

.movie__selected--year {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 16px;
}

.movie__rating {
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 16px;
}

.movie__genre {
  padding: 16px 0;
  font-size: 16px;
  font-weight: 500;
}

.movie__plot--title {
    font-size: 16px;
}

.movie__runtime {
    font-size: 16px;
    font-weight: 500;
}

.movie__category {
    font-size: 16px;
}

.movie__para {
    padding-bottom: 24px;
}

.movie__selected--btn {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    background-color: #7342d6;
    border: none;
    padding: 16px 24px;
}


.movie__selected--btn:hover {
transition: all 300ms ease;
opacity: 0.7;
}

/* .popup {
 position: fixed; 
    top: 20px; 
    left: 50%; 
    transform: translateX(-50%); 
    background-color: white; 
    border: 1px solid #ccc; 
    padding: 20px; 
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
} */

.popup {
  /* display: none;  */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
}

.popup-content {
  background-color: #fff; /* White background */
  margin: 15% auto; /* 15% from the top and centered */
  padding: 30px;
  border: 1px solid #888; /* Gray border */
  width: 80%; /* Could be more or less, depending on screen size */
  max-width: 500px; /* Maximum width */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow effect */
}

.close {
  background-color: #7342d6; /* Green background */
  color: white; /* White text */
  padding: 10px 20px; /* Some padding */
  border: none; /* No border */
  border-radius: 5px; /* Rounded corners */
  margin-top: 20px;
  cursor: pointer; /* Pointer cursor on hover */
}

.close:hover {
  background-color: #7342d6;
  opacity: 0.7;
}

/* .popup.show {
    opacity: 1; 
    transform: translateX(-50%) translateY(0); 
} */





.spinner {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 50px; /* Size of the spinner */
  height: 50px; /* Size of the spinner */
  animation: spin 1s linear infinite; /* Animation */
  margin: auto; /* Center the spinner */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.spinner-container {
  position: fixed; /* Position it relative to the viewport */
  top: 0; /* Align to the top */
  left: 0; /* Align to the left */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  display: flex; /* Use flexbox to center */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  background-color: rgba(255, 255, 255, 0.8); /* Optional: semi-transparent background */
  z-index: 1000; /* Ensure it appears above other content */
}


/* CONTACT */

.contact__title {
    color: #242424;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 0;
    text-align: center;
    margin-bottom: 8px;
}

.contact-form {
  background-color: #2e2e2e; /* Dark gray background for the form */
  border-radius: 8px; /* Rounded corners */
  padding: 20px; /* Padding inside the form */
  max-width: 400px; /* Maximum width of the form */
  margin: auto; /* Center the form */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* Shadow effect */
}

.btn__contact {
  background-color: #9b59b6; /* Purple background for button */
  color: #ffffff; /* White text for button */
  padding: 10px 15px; /* Padding inside button */
  border: none; /* No border */
  border-radius: 4px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  width: 100%; /* Full width button */
}

.btn__contact:hover {
 background-color: #8e44ad; /* Darker purple on hover */
}

.form-group {
      margin-bottom: 15px; /* Space between form groups */
color: #ffffff;
}

.contact {
 margin-top: 60px; /* Adjust this value to create space for the navbar */
  padding: 20px; /* Optional padding for the form */
  color: white; /* Text color for the form */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333; /* Dark background */
  padding: 20px 30px; /* Padding around the navbar */
}

.navbar__logo {
  color: white; /* Logo color */
  font-size: 24px; /* Logo font size */
}

.navbar__links {
  list-style: none; /* Remove bullet points */
  display: flex; /* Display links in a row */
}

.navbar__links li {
  margin-left: 20px; /* Space between links */
}

.navbar__links a {
  color: white; /* Link color */
  text-decoration: none; /* Remove underline */
  font-size: 24px; /* Link font size */
}

.navbar__links a:hover {
  text-decoration: underline; /* Underline on hover */
   text-decoration-thickness: 3px;
   transition: all 300ms ease;
}


@media (max-width: 550px) {
 .nav__links {
display: none;
}

.nav__row {
 display: flex;
 flex-direction: column;
}

.content-wrapper {
 width: 100%;
 max-width: 400px;
}
.menu__links{
padding: 24px 0;
}

.btn__menu {
  display: block;
  cursor: pointer;
}

h2 {
    font-size: 40px;
    margin-bottom: 16px;
}

.logo {
    width: 100%;
    max-width: 80px;
}

.menu__backdrop {
height: 280px;
}

.movies {
    display: flex;
    flex-direction: column;
    margin: 0 50px;
}

}
/* 1:07:45 */

@media (max-width: 768px) {
  .nav__links {
display: none;
}

.nav__row {
 display: flex;
 flex-direction: column;
}

.content-wrapper {
 width: 100%;
 max-width: 400px;
}

.menu__links{
padding: 24px 0;
}

.btn__menu {
cursor: pointer;
  display: block;
}

h2 {
    font-size: 40px;
    margin-bottom: 16px;
}

.logo {
    width: 100%;
    max-width: 80px;
}

.menu__backdrop {
height: 280px;
}

.movies {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 90px;
}
}






